body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #3f3f3f;
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    padding: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
   }
input[type="email"]::-moz-placeholder,
input[type="text"]::-moz-placeholder {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
} 
h1, h2 ,h3,h4, h5, h6,p{
    margin: 0;
}
/* container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Header */
.header{
    width: 100%;
    
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 5px solid #3f3f3f;
}
.header__inner{
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    max-width: 120px;
}
/* Nav */
.nav{
    display: flex;
    font-size: 15px;
    font-weight: 600;
}
.nav__link{
    margin-left: 50px;
    color: #3f3f3f;
    text-decoration: none;
    opacity: .9;
    transition: opacity .1s linear;
}
.nav__link:first-child{
    margin-left: 0px;
}
.nav__link:hover{
    opacity: 1;
}

/* Intro */
.intro{
    width: 100%;
    height: 100vh;
    max-height: 655px;
    background: url("..//img/intro/bg.jpg") center no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    position: relative;
}
.intro:after{
    display:block;
    content:"";
    position: absolute;
    bottom:70px;
    width: 100%;
    height: 15px;
    background: url("../img/intro/arrow.png") center no-repeat;
    cursor:pointer;
    opacity:1;
    transition: opacity .1s linear;
}
.intro__inner{
    width: 100%;
    /* max-width: 970px; */
    margin: 0 auto;
    text-align: center;
}
.intro__title{
    margin: 180px 0 40px;
   font-family:  'Open Sans', sans-serif; 
   font-size: 60px;
   color: #fff;
   font-weight: 600;
   text-align: center;
}
.intro__subtitle{
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.intro__btn{
    display: flex;
    justify-content: center;
    margin: 105px auto 0;
    position: relative;
}

/* Button */
.btn{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 66px;
    /* padding:auto; */
    cursor: pointer;
    color: #fff;
    border: 3px solid #212121;
    background-color: #fff;
    width: 220px;
    height: 70px;
    margin: 0 15px;
    padding: 0;
    transition: background .2s linear;
    transition: border .2s linear;
    transition: color .2s linear;
}
.btn:hover{
    background-color: #00897b;
    border-color: #00897b;
    color: #fff;
}
.btn:hover span{
    color: #fff;
}
.btn--intro{
    border: 3px solid #fff;
    background-color: rgba(0,0,0,0);
}
.btn--services{
    width:150px;
    height: 50px;
    margin:45px auto;
    border: 2px solid #212121;
    background: #fff center no-repeat;
    padding: 0;
    line-height: 46px;
}
.btn__txt{
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    color: #212121;
    margin:auto auto;
}
.btn--works{
    width: 175px;
    height: 55px;
    background-color: #fff;
    border: 2px solid #00897b;
    line-height: 51px;
}
.btn--works:first-child{
    width: 100px;
}
.btn--works:hover{
    background-color: #00897b;
}
.btn--works:hover span{
    color:#fff;
}
.btn--price{
    width:178px;
    height: 56px;
    line-height:normal;
    text-transform: none;
    margin:25px auto 64px;
}
.btn--blog{
    background-color: #00897b;
    border-color: #00897b;
    margin: 0 auto;
}
.btn--feed{
    background-color: #fff;
    border-radius: 10px;
    font-family:  'Roboto', sans-serif;
    font-size: 20px;
    color:#212121;
    font-weight: 600;
    line-height: 1.4;
    margin:0;
    margin-top: 40px;
    float: right;
}
/* About us */
.about{
    padding: 125px 0;
    display: block;
}
.about__inner{
    font-family:  'Open Sans', sans-serif;
    display:block;
}
.about__suptitle{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.about__subtitle{
    width:630px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.45;
    text-align: center;
    margin:38px auto 100px;
}
.about__items{
    display: flex;
    flex-wrap: wrap;
}
.about__item{
    width: 33.33333%;
    text-align: center;
    /* padding: 0 40px; */
    margin:25px 0 0;
    justify-content: space-between;
    
}
.about__icon{
    margin-bottom: 40px;
}
.about__title{
    font-size: 20px;
    color: #212121;
    font-weight: 600;
    margin: 0 auto 25px;
    /* text-transform: uppercase; */
}
.about__text{
    max-width: 270px;
    font-size: 15px;
    line-height: 1.45;
    color:#212121;
    margin:0 auto;
}
/* Section */
.section{
    padding: 125px 0;
}
.section--green{
    background-color: #e4fdf9;
}
.section--grey{
    background-color: #f0f1f1;
}
.section--works{
    background: #fff center no-repeat;
}
.section--contact{
    background: url(../img/contact/bg.jpg) center no-repeat;
    background-size: cover;
}
.section--contact .section__header{
    color: #fff;
}
.section__header{
    width: 100%;
    max-width: 630px;
    margin:0 auto 100px;
    text-align: center;
    font-family:  'Open Sans', sans-serif;
}
.section__title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 37px;
}
.section__suptitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.45;
}
/* Our Services */
.services{
    display: flex;
    flex-wrap: wrap;
}
.services__item{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    width: 30%;
    /* text-align: center; */
    margin:15px 15px;
    color: #212121;
    align-items: center;
}
.services__item:hover{
    background-color: #00897b;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}
.services__img{
    display: block;
    max-width: 100%;
    margin:60px auto 40px;
    filter: invert(1);
}
.services__title{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding:0 auto; 
}
.services__text{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding:25px 0;
    line-height: 1.66;
    max-width: 72%;
    justify-content: center;
}
.services__item:hover .btn--services{
    border-color:#fff;
    background: #00897b center no-repeat;
}
.services__item:hover .btn__txt{
    color:#fff;
}
.services__item:hover img{
    filter: invert(1);
}
/* Works */

.works__buttons{
    margin:15px auto;
    display: flex;
    width: 690px;
    justify-content: space-between;
}
.works__card{
    margin:105px auto;
    display: flex;
    flex-wrap: wrap;
}
.works__item{
    width: 30%;
    text-align: center;
    margin:15px 15px;
    position: relative;
    /* overflow: hidden; */
    justify-content: space-between;
}
.works__item:after { 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);  
    opacity: 0;
}
.works__item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: url(icon-path); */
    opacity: 0;
}
.works__item:hover:before,
.works__item:hover:after{
    opacity: 1;
}
.works__item:hover .works__text{
    opacity:1;
    cursor: pointer;
    color: #fff;
}
.works__item img{
    width: 100%;
    height: 100%;
}
.works__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    text-align: center;
    opacity: 0;
    padding:10px;
    transition: opacity .1s linear;
    font-family:  'Open Sans', sans-serif;
}
.works__title{  
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
}
.works__subtitle{
    margin-top:5px auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.46;
}
.works__button{
    margin: 25px auto 10px;
}
.works__button .btn{
    display: flex;
    margin: 0 auto;
}

/* Pricing Plan */
.price__card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 -15px;  
}
.price__item{
    margin: 15px 15px 0;
    width: 30.33%;
    background-color: #fff;
    display: block;
    /* flex-direction: column; */
    font-family:  'Open Sans', sans-serif;
}
.price__item:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.price__inner{
    /* position: relative; */
    display: block;
    width: 100%;
    background: url("../img/price/1.png") no-repeat;
    background-size: cover;
    height: 210px;
    overflow: hidden;
    z-index: 1;
    color: #fff;
}
.price__type{
    /* position: absolute;  */
    width: 100%;
    margin-top: 45px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.price__block{
    /* display: flex;
    flex-direction: row; */
    width: 70%;
    text-align: center;
    margin: 40px auto 0;
}
.price__money{
    position: relative;
    display:inline;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    line-height: 1;
}
.price__money:before{
    content: '$';
    position: absolute;
    left:-15px;
    top:10px;
    font-size: 25px;
    font-weight: 600;
}
.price__period{
    font-size: 15px;
    font-weight: 400;
}
.price__content{
    display: block;
    width: 100%;
    padding-top: 48px;
    top:0;
    left: 0;
    color: #fff;
    text-align: center;
}
.price__title{
    margin: 0 auto 40px;
    font-weight: 400;
    font-size: 25px; 
}
.price__text{
    color: #212121;
    font-size: 17px;
    font-weight: 300;
    position: relative;
    margin-bottom: 52px;
}
.price__text:after{
    position: absolute;
    content: "";
    width: 48%;
    height: 1px;
    left:50%;
    transform: translateX(-50%);
    background-color: #bfbfbf;
    bottom:-14px;
}
.price__button{
    display: block;
    text-align: center;
}

/* Team Members */
.members{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-between;
}
.members__item{
    width: 33.33333%;
    padding:0 15px;
}
.members__photo{
    width: 100%;
    margin-bottom: 40px;
    
}
.members__photo img{
    border-radius: 10px;
    display: block;
    height: auto;
    max-width: 100%;
}
.members__name{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.members__name{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.members__post{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}
.members__social{
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}
.members__icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #f0f1f1;
    text-decoration: none;
    color:#00897b;
    font-size: 30px;
    padding: auto;
    margin: 0 15px;
    line-height: 1px;
    transition: color .1s linear;
    transform: background .1s linear;
    text-align: center;
    
}
.members__icons:hover{
    background-color: #3949ab;
    color:#fff;
}
.slider{
    display: flex;
    justify-content: center;
}
.slider__icons{
    width: 15px;
    height: 15px;
    margin-right: 9px;
    color: #00897b;
}
.slider__icons:first-child{
    color:#3949ab;
}
/* Blog */
.blog__item{  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:0 -15px;
}
.blog__photo{
    padding:0 15px;
    width: 50%;
    height: 400px;
    position: relative;
}
.blog__img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.blog__content{
    display:flex;
    flex-direction: column;
    margin: 60px 0 0 ;
    width: 50%;
    font-family:  'Open Sans', sans-serif;
    color: #212121;
    /* padding-right: 135px; */
    padding-left: 30px;
}
.blog__item--reverse .blog__photo .blog__img{
    padding: 0;
    margin:0;
    left:35px;
}
.blog__item--reverse .blog__content{
    padding: 0 15px;
}
.blog__title{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 28px;
    transition: color .1s linear;
    cursor: pointer;
}
.blog__subtitle{
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
    align-items: baseline;
}
.blog__date{
    display: flex;
    margin:0 40px 28px 0;
    font-size: 17px;
    font-weight: 600;
}
.blog__date img{
    margin-right: 12px;
}
.blog__title:hover{
    color: #00897b;
}
.blog__text{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
    width: 70%;
}
.blog__button{
    text-align: center;
    margin-top: 125px;
}
/* Contacts */
.contacts{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contacts__item{
    display: flex;
    flex-direction: column;
    width: 33.333333%;
    margin-bottom: 80px;
    align-items: center;
}
.contacts__img{
    display: block;
    width: 100%;
    height: 105px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.sup__img{
    display: block;
    position: absolute;
    height: auto;
    top:0;
    left: 50%;
    transform: translate3d(-50%,0,0);
    z-index: 2;
    opacity:1;
    transition: opacity .1s linear;
}
.sup__img:hover{
    opacity: .8;
}
.sub__img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 10;
}
.contacts__text{
    display: block;
    padding-top: 38px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 1.4;
    width: 75%;
}
/* Feedback */
.feedback{
    width:100%;
    padding:0 70px 110px;
}
.feedback__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.feedback__field{
    display: inline-block;
    width: 48.5%;
    height: 84px;
    border-radius: 10px;
    background-color: #fff;
    font-family:  'Open Sans', sans-serif;
    color: #0e62ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    border: none;
    opacity: 1;
    padding-left: 20px;
}
.feedback__text{
    display: block;
    font-family:  'Open Sans', sans-serif;
    width: 100%;
    color: #5a5a5a;
    height: 320px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 33px;
    resize: none;
    padding-left: 12px;
    padding-top: 30px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
    width: 100%;
    font-family:  'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#212121;
    text-align: center;
}
















