body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #3f3f3f;
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    padding: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1, h2 ,h3,h4, h5, h6{
    margin: 0;
}
/* container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Header */
.header{
    width: 100%;
    
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 5px solid #3f3f3f;
}
.header__inner{
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    max-width: 120px;
}
/* Nav */
.nav{
    display: flex;
    font-size: 15px;
    font-weight: 600;
}
.nav__link{
    margin-left: 50px;
    color: #3f3f3f;
    text-decoration: none;
    opacity: .9;
    transition: opacity .1s linear;
}
.nav__link:first-child{
    margin-left: 0px;
}
.nav__link:hover{
    opacity: 1;
}

/* Intro */
.intro{
    width: 100%;
    height: 100vh;
    max-height: 655px;
    background: url("..//img/intro/bg.jpg") center no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    position: relative;
}
.intro:after{
    display:block;
    content:"";
    position: absolute;
    bottom:70px;
    width: 100%;
    height: 15px;
    background: url("../img/intro/arrow.png") center no-repeat;
    cursor:pointer;
    opacity:1;
    transition: opacity .1s linear;
}
.intro__inner{
    width: 100%;
    /* max-width: 970px; */
    margin: 0 auto;
    text-align: center;
}
.intro__title{
    margin: 180px 0 40px;
   font-family:  'Open Sans', sans-serif; 
   font-size: 60px;
   color: #fff;
   font-weight: 600;
   text-align: center;
}
.intro__subtitle{
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.intro__btn{
    display: flex;
    justify-content: center;
    margin: 105px auto 0;
    position: relative;
}

/* Button */
.btn{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    /* padding:auto; */
    cursor: pointer;
    color: #fff;
    border: 3px solid #212121;
    background-color: #fff;
    width: 220px;
    height: 70px;
    margin: 0 15px;
    padding: 0;
    transition: background .2s linear;
    transition: border .2s linear;
    transition: color .2s linear;
}
.btn:hover{
    background-color: #00897b;
    border-color: #00897b;
    color: #fff;
}
.btn:hover span{
    color: #fff;
}
.btn--intro{
    border: 3px solid #fff;
    background-color: rgba(0,0,0,0);
}
.btn--services{
    width:150px;
    height: 50px;
    margin:45px auto;
    border: 2px solid #212121;
    background: #fff center no-repeat;
    padding: 0;
    line-height: 46px;
}
.btn__txt{
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #212121;
    margin:auto auto;
}
.btn--works{
    width: 175px;
    height: 55px;
    background-color: #fff;
    border: 2px solid #00897b;
    line-height: 51px;
}
.btn--works:first-child{
    width: 100px;
}
.btn--works:hover{
    background: #00897b center no-repeat;
}
.btn--works:hover span{
    color:#fff;
}
/* About us */
.about{
    margin: 125px 0;
}
.about__inner{
    font-family:  'Open Sans', sans-serif;
    display:block;
}
.about__suptitle{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.about__subtitle{
    width:630px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.45;
    text-align: center;
    margin:38px auto 100px;
}
.about__items{
    display: flex;
    flex-wrap: wrap;
}
.about__item{
    width: 33.33333%;
    text-align: center;
    /* padding: 0 40px; */
    margin:25px 0 0;
    justify-content: space-between;
    
}
.about__icon{
    margin-bottom: 40px;
}
.about__title{
    font-size: 20px;
    color: #212121;
    font-weight: 600;
    margin: 0 auto 25px;
    /* text-transform: uppercase; */
}
.about__text{
    max-width: 270px;
    font-size: 15px;
    line-height: 1.45;
    color:#212121;
    margin:0 auto;
}
/* Section */
.section--green{
    background: #e4fdf9 center no-repeat;
    padding:50px 0 105px;
}
.section--works{
    background: #fff center no-repeat;
}
.section__header{
    width: 100%;
    max-width: 630px;
    margin:125px auto 100px;
    text-align: center;
    font-family:  'Open Sans', sans-serif;
}
.section__title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 37px;
}
.section__suptitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.45;
}
/* Our Services */
.services{
    display: flex;
    flex-wrap: wrap;
}
.services__item{
    background: #fff center no-repeat;
    width: 30.7162%;
    text-align: center;
    margin:15px 15px;
    color: #212121;
}
.services__item:hover{
    background: #00897b center no-repeat;
    color: #fff;
}
.services__img{
    margin:60px auto 40px;
    filter: invert(1);
}
.services__title{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding:0 auto; 
}
.services__text{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding:25px 50px;
    line-height: 1.66;
}
.services__item:hover .btn--services{
    border-color:#fff;
    background: #00897b center no-repeat;
}
.services__item:hover .btn__txt{
    color:#fff;
}
.services__item:hover img{
    filter: invert(1);
}
/* Works */

.works__buttons{
    margin:15px auto;
    display: flex;
    width: 690px;
    justify-content: space-between;
}
.works__card{
    margin:105px auto;
    display: flex;
    flex-wrap: wrap;
}
.works__item{
    background-color: #212121 center no-repeat;
    width: 30.7162%;
    text-align: center;
    margin:15px 15px;
    position: relative;
    overflow: hidden;
}
.works__item:after { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);  
    opacity: 0;
}
.works__item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: url(icon-path); */
    opacity: 0;
}
.works__item:hover:before,
.works__item:hover:after{
    opacity: 1;
}
.works__item:hover .works__text{
    opacity:1;
    cursor: pointer;
    color: #fff;
}
.works__item img{
    width: 100%;
    height: auto;
}
.works__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: opacity .1s linear;
    font-family:  'Open Sans', sans-serif;
}
.works__title{  
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
}
.works__subtitle{
    margin-top:5px auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.46;
}
.works__button{
    margin: 25px auto 135px;
}
.works__button .btn{
    display: flex;
    margin: 0 auto;
}